* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
  color: white;
}

p {
  color: #d2d2d2;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.sidebar {
  background-color: #202020;
  max-width: 300px;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sidebar__inner {
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidebar__top {
  position: relative;
}
.sidebar__foto-wrapper {
  position: absolute;
  margin-top: -62px;
  left: calc(50% - 70px);
}
.sidebar__title {
  margin-top: 68px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.sidebar__subtitle {
  margin-top: 3px;
  color: #dedede;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.sidebar__social {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 18px;
  padding-bottom: 30px;
}
.sidebar__social-inst {
  margin-right: 15px;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../images/inst.svg);
}
.sidebar__social-vk {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../images/vk.svg);
}
.sidebar__social-pinterest {
  margin-left: 15px;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../images/pint.svg);
}
.sidebar__social::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1c1c1c;
}
.sidebar__description {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  padding-bottom: 30px;
}
.sidebar__description::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1c1c1c;
}
.sidebar__buttons {
  margin-top: 30px;
}
.sidebar__btn {
  padding: 13px 25px;
  border: none;
  background-color: #3137c9;
  color: white;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
  cursor: pointer;
}
.sidebar .clr-red {
  margin-right: 20px;
  background-color: #ed3024;
}

.navigation {
  background-color: #0d0d0d;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
}
.navigation__menu {
  display: flex;
  list-style-type: none;
}
.navigation__item {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  padding: 13px;
}
.navigation__item-profil {
  position: absolute;
  right: 0;
}
.navigation__item-rect {
  padding-right: 29px;
}
.navigation__item-rect:hover .navigation__menu-article {
  display: block;
}
.navigation__item-rect:hover {
  background-color: #3137c9;
}
.navigation__item-rect::after {
  content: "";
  margin-left: 9px;
  width: 10px;
  height: 5px;
  position: absolute;
  top: calc(50% - 3px);
  background-image: url(../images/rect.svg);
}
.navigation__menu-article {
  display: none;
  position: absolute;
  flex-direction: column;
  list-style-type: none;
  padding: 12px;
  background-color: #3137c9;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5px 5px;
  max-width: 165px;
  margin-left: -13px;
  margin-top: 13px;
  min-width: 165px;
}
.navigation__menu-article .navigation__item {
  margin: 10px 0;
  padding: 0;
  text-transform: none;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
}
.navigation__menu-article .navigation__item:first-child {
  margin-top: 0;
}
.navigation__menu-article .navigation__item:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */